@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

@keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-moz-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-webkit-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-ms-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@-o-keyframes fadein {
	from { opacity: 0; }
	to   { opacity: 1; }
}

@keyframes blink {
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
	        background: url('bg.gif') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	font-family: 'VT323', monospace;
	color: #ffffff;
	text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;

}

pre {
	font-size: 28px;
	text-align: center;
	font-family: 'VT323', monospace;
	-webkit-animation: fadein 4s;
	-moz-animation: fadein 4s;
	-ms-animation: fadein 4s;
	-o-animation: fadein 4s;
	animation: fadein 4s;
}

h1 {
	font-size: 60px;
	text-align: center;
	font-family: 'VT323', monospace;
	-webkit-animation: fadein 3s;
	-moz-animation: fadein 3s;
	-ms-animation: fadein 3s;
	-o-animation: fadein 3s;
	animation: fadein 3s;
}

#center {		
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover {
	color: grey;
	cursor: url('nigga.cur'), default;
	display: inline-block;
	animation: blink 1s linear infinite alternate;
}


.marquee {
	position: absolute;
	margin: 0 auto;
    width: 400px;
	line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
}
.marquee p {
	position: fixed;
	margin: 0 auto;
    display: inline-block;
    padding-left: 100%;
    animation: marquee 20s linear infinite;

}
@keyframes marquee {
	   0% {opacity: 0;}
   10% {opacity: 1;}
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}


.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
